.sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  form {
    padding: 25px 15px;
    border: rgba(0, 0, 0, 0.5) solid 1px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    label {
      margin: 25px 0;
    }
  }
}